{% extends 'base.html' %}
{% block content %}
<div class='text-center m-2 p-2 account-bg'>
    <h6 data-translate-flag='true'>aby uzyskać tłumaczenie na język polski najedź myszką na ikonę: <span class='flag-icon flag-icon-pl'></span> znajdującą się obok pytania lub odpowiedzi</h6>
    <button class='btn btn-secondary' type='button' id='new-test-btn'><i class="far fa-file"></i> {{ test_page_new_test_btn_txt_de }}</button>
    <button class='btn btn-secondary' type='button' id='check-test-btn'><i class="fas fa-tasks"></i> {{ test_page_check_test_btn_txt_de }}</button>
    <button class='btn btn-secondary' type='button' data-toggle="modal" data-target='#test-info-modal' id='check-test-btn'><i class="fas fa-info"></i> {{ test_page_test_info_btn_txt_de }}</button>
</div>
{% endblock %}