{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12 col-sm-6 text-center mb-4 mt-4 d-flex'>
                <div class='col-md-12 border p-3 account-bg'>
                    <h3>ohne ein Konto zu erstellen</h3>
                    <p><i class='fas fa-hand-point-right'></i> Zeichnen Sie aus 600 offiziellen Testfragen, beantworten Sie und überprüfen Sie die Antwort</p>
                    <p><i class='fas fa-hand-point-right'></i> Zeichnen Sie den Test nach offiziellen Regeln - 60 Fragen, 12 Fragen aus jeder Testabteilung und überprüfen Sie das Ergebnis</p>
                    <p><i class='fas fa-hand-point-right'></i> Informationen über Fischereischein lesen</p>
                    <a href='#' class='btn btn-secondary'><i class='far fa-comment'></i> einzelne Frage</a>
                    <a href='#' class='btn btn-secondary'><i class='far fa-comments'></i> vollständiger Test</a>
                </div>
            </div>
            <div class='col-12 col-sm-6 text-center mb-4 mt-4 d-flex'>
                <div class='col-md-12 border p-3 account-bg'>
                    <h3>Konto erstellen</h3>
                    <p>* ..........</p>
                    <p>* ..........</p>
                    <p>* ..........</p>
                    <p>* ..........</p>
                    <p>* ..........</p>
                    <a href='#' class='btn btn-secondary'><i class='fas fa-user-plus'></i> Konto erstellen</a>
                    <a href='#' class='btn btn-secondary'><i class='fas fa-user-check'></i> einloggen</a>
                </div>
            </div>
        </div>
        <div class='row text-center'>
            <div class='col'>
                <span class='icon-benefit'>
                    <i class='fas fa-chart-line'></i>
                </span>
                <h4>Überprüfen Sie den Fortschritt</h4>
                <p>Überprüfen Sie den Fortschritt nach Thema und im Laufe der Zeit</p>
            </div>
            <div class='col'>
                <span class='icon-benefit'>
                    <i class='fas fa-walking'></i>
                </span>
                <h4>flexibel</h4>
                <p>Lernen Sie durch Auswahl, Frage, Test oder Themenbereich</p>
            </div>
            <div class='col'>
                <span class='icon-benefit'>
                    <i class='fas fa-mobile-alt'></i>
                </span>
                <h4>zu jeder Zeit</h4>
                <p>Lernen Sie auf Ihrem Computer oder Smartphone</p>
            </div>
        </div>
        <div class='row m-2 account-bg'>
            <div class='col-12 col-md-4 d-flex'>
                <img class='img-fluid rounded-circle align-self-center mx-auto my-img p-2' src='{% static "img/my-photo-square.jpg" %}'>
            </div>
            <div class='col-12 col-md-8 d-flex'>
                <div class='align-self-center mx-auto'>
                    <h4>über das Projekt und mich</h4>
                    <p>
                        Derzeit suche ich ein bezahltes Praktikum oder arbeite auf Junior-Ebene in Berlin im Webbereich. Meine Lieblingssprachen sind Javascript und Python. Weitere Informationen finden Sie auf 'Über mich und das Projekt' Seite. Das Projekt wurde für ein Portfolio erstellt. Es wurde hauptsächlich in Python (Django) und Javascript sowie in HTML, CSS und Bootstrap durchgeführt. Es verwendet MySQl als Datenbank.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}