{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fischerschein</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous'>
    <link rel='stylesheet' type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css' rel='stylesheet'/>
    <link rel='stylesheet' type='text/css' href="{% static 'css/main.css' %}">
</head>
<body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <a class='navbar-brand' href='{% url "main_page" %}'><i class="fas fa-home"></i></a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#fischerschein-nav' aria-controls='fischerschein-nav' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='fischerschein-nav'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item active'>
                    <a class='nav-item nav-link' href='{% url "simple_question" %}'><i class='far fa-comment'></i> {{ menu_simple_question_txt_de }}</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-item nav-link' href='{% url "full_test" %}'><i class='far fa-comments'></i> {{ menu_full_test_txt_de }}</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-item nav-link' href='#'><i class='fas fa-info'></i> {{ menu_fischerschein_info_txt_de }}</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-item nav-link' href='#'><i class="far fa-clipboard"></i> {{ menu_FAQ_txt_de }}</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-item nav-link' href='#'><i class="fas fa-user-tie"></i> {{ menu_about_project_de }}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='hero-image'>
        <div class='hero-text'>
            <h1>{{ hero_main_txt_de }}</h1>
            <p>
                <span>{{ hero_under_txt_de }}</span>
            </p>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous'></script>
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous'></script>

    {% block javascript %}
    {% endblock %}
</body>
</html>